body {
  @apply font-body;
  @apply font-light;

  background-color: #f6f7f0;
}

h1 {
  @apply font-heading;
  @apply font-normal;

  font-size: calc(2rem + 3vw);
  line-height: 1;
}

h1 span {
  font-size: 131%;
}

h2 {
  @apply font-heading;
  @apply font-normal;

  font-size: calc(1rem + 1vw);
  line-height: 1.3;
}

p {
  font-size: calc(1rem + 0.2vw);
  line-height: 1.75;
  max-width: 65ch;
  color: #586253;
}

.gradient-title {
  animation: GradientAnimation 20s linear infinite;
  background: linear-gradient(270deg, #fda7df, #9980fa, #ed4c67, #12cbc4);
  background-size: 800% 800%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes GradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.over-title {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: -10px;
  margin-left: -10px;
}
