body {
  @apply font-body font-light bg-black text-white min-h-screen;
}

h1 {
  @apply font-heading font-medium tracking-tight;
  font-size: calc(1.5rem + 3vw);
  line-height: 1;
}

h2 {
  @apply font-heading font-medium tracking-tight;
  font-size: 40px;
  line-height: 1.05;
  max-width: 23ch;
}

p {
  font-size: 17px;
  line-height: 24px;
}

.back-button {
  font-size: 18px;
}
