@media (min-width: 1024px) {
  .container {
    padding-left: 27%;
  }
}

.header {
  @apply relative mx-6 sm:mx-12 md:mx-24 lg:ml-0 mb-16 sm:mb-24 border-white border-b;
  margin-top: calc(100px + 20vh);
}

.list {
  @apply grid lg:grid-cols-2;
}

.title {
  @apply uppercase pb-14 sm:pb-20 text-4xl sm:text-6xl md:text-8xl xl:text-9xl;
  line-height: 0.85;
  word-spacing: 9999px;
  margin-left: -0.075em;
}

.subtitle {
  @apply mb-4;
}

.card {
  @apply border-white border-b mx-6 sm:mx-12 md:mx-24 lg:ml-0 mb-16 sm:mb-24 relative;
}

.card p {
  max-width: 42ch;
}

.outline {
  @apply block text-black;
  -webkit-text-stroke: 1px #fff;
}
