/* .container {
  padding-left: 27%;
} */

@media (min-width: 1024px) {
  .container {
    padding-left: 27%;
  }
}

.header {
  @apply relative mx-12 md:ml-24 lg:ml-0 md:mr-24 mb-24;
  margin-top: calc(100px + 20vh);
}

.list {
  @apply grid lg:grid-cols-2;
}

.title {
  @apply uppercase border-white border-b pb-20;
  font-size: calc(2rem + 5vw);
  line-height: 0.85;
  word-spacing: 9999px;
}

.card {
  @apply border-white border-b mx-12 md:ml-24 lg:ml-0 md:mr-24 mb-24 relative;
}

.card p {
  max-width: 42ch;
}

.outline {
  @apply block text-black;
  -webkit-text-stroke: 1px #fff;
}
